body {
  background-image: url("img.png");
  background-color: #cccccc;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
 }

 h2 {
  padding: 10px;
  text-align: center;
  font-family: cursive;
  background: #635418;
  color: rgb(234, 228, 228);
  font-size: 30px;
  display:auto;
  margin:3% 0 0 27%;
  margin-right: 25%;
}

h1 {
    padding: 60px;
    font-family: emoji;
    text-align: center;
    background: rgb(68, 68, 76);
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: auto;

}




